<section class="account-page" id="account">
  <div class="account-page__inner">
    <div class="contact-window window">
      <div class="border-left"></div>
      <div class="border-right"></div>
      <div class="window__titlebar">
        <span class="window__text">404</span>
      </div>
      <div class="window__content account-window__body">
        <div class="account-view">
          <h2 class="account-view__title">{{ 'general.404.title' | t }}</h2>
          <p class="account-view__sub">{{ 'general.404.subtext' | t }}</p>
          <a class="account-form__submit" href="{{ routes.root_url }}" style="text-decoration:none;display:inline-flex;align-items:center;justify-content:center;">{{ 'general.404.link' | t }}</a>
        </div>
      </div>
    </div>
  </div>
</section>
