<section class="account-page">
  <div class="account-page__inner">
    <div class="contact-window window">
      <div class="border-left"></div>
      <div class="border-right"></div>
      <div class="window__titlebar"><span class="window__text">{{ shop.name | upcase }}</span></div>
      <div class="window__content account-window__body">
        <div class="account-view">
          <h2 class="account-view__title">COMING SOON</h2>
          <p class="account-view__sub">{{ shop.password_message }}</p>
          {%- form 'storefront_password', class: 'account-form' -%}
            <input class="checkout-input" type="password" name="password" placeholder="ENTER STORE PASSWORD" required>
            {%- if form.errors -%}<div class="account-form__error is-visible">{{ form.errors | default_errors }}</div>{%- endif -%}
            <button type="submit" class="account-form__submit">ENTER</button>
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</section>
